
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.top-bar span {
    margin-left: 350px;
    font-weight: bold;
    font-size: 20px;
}

.light-text {
    color:#6d6b6b;
}

.dark-text {
    color: white; 
}

.light-theme{
    background-color: #fefafa;
}

.dark-theme{
    background-color: #6d6b6b;
}

.switchTheme{
    margin-right: 350px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border:white ;
    border-radius: 20px;
    cursor: pointer;

}